<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeytMhOba5DnL7B3X38EQ9X--vbevT5eE</string>
	<key>GCM_SENDER_ID</key>
	<string>938720584355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bachThes</string>
	<key>PROJECT_ID</key>
	<string>hiking-app-56fa9</string>
	<key>STORAGE_BUCKET</key>
	<string>hiking-app-56fa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938720584355:ios:953c543dca55c0a4731516</string>
	<key>DATABASE_URL</key>
	<string>https://hiking-app-56fa9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>